<h3>Filters</h3>
<form [formGroup]="form">
  <div class="flex-row">
    <h5>Class Options</h5>
    Select:
    <button type="button" (click)="selectAll('class')">All</button>
    <button type="button" (click)="deselectAll('class')">None</button>
  </div>
  <div class="flex-row">
    <ng-container
      *ngFor="let checkbox of classChecks; let i = index"
      formArrayName="classOptions"
    >
      <input type="checkbox" [formControlName]="i" />{{ checkbox.title }}
    </ng-container>
  </div>
  <!-- class -->
  <div class="flex-row">
    <h5>Subclass Options</h5>
    Select:
    <button type="button" (click)="selectAll('subclass')">All</button>
    <button type="button" (click)="deselectAll('subclass')">None</button>
  </div>
  <div class="flex-row">
    <ng-container
      *ngFor="let checkbox of subclassChecks; let i = index"
      formArrayName="subclassOptions"
    >
      <input type="checkbox" [formControlName]="i" />{{ checkbox.title }}
    </ng-container>
  </div>
  <!-- subclass-->
  <div class="flex-row">
    <h5>Spell Save (DC) Options</h5>
    Select:
    <button type="button" (click)="selectAll('dc_type')">All</button>
    <button type="button" (click)="deselectAll('dc_type')">None</button>
  </div>
  <div class="flex-row">
    <ng-container
      *ngFor="let checkbox of dcTypeChecks; let i = index"
      formArrayName="dcTypeOptions"
    >
      <input type="checkbox" [formControlName]="i" />{{ checkbox.title }}
    </ng-container>
  </div>
  <!-- subclass-->
</form>
