<div class="row">
  <div class="head">
    <h2>Character</h2>
    <img src="./assets/images/profile.png" alt="" class="avatar" />
  </div>
</div>
<!-- <ng-container *ngIf="hero$ |async as hero"> -->
<form [formGroup]="heroForm">
  <div class="control-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      (blur)="updateHero()"
    />
  </div>
  <div class="mods-container info-container">
    <div class="frame">
      <div class="mod-control-group number">
        <label for="level">Level</label>
        <input
          type="number"
          formControlName="level"
          class="form-control"
          (change)="updateHero()"
          min="1"
        />
      </div>
      <!-- level -->
      <div class="mod-control-group number">
        <label for="spellMod">Spell Modifier</label>
        <input
          type="number"
          formControlName="spellMod"
          class="form-control"
          (change)="updateHero()"
          min="-4"
        />
      </div>
      <!-- spell mod -->
    </div>
    <!-- frame 1 -->

    <div class="frame">
      <div class="mod-control-group">
        <label for="class" class="">Class</label>
        <select formControlName="class" class="form-control">
          <option value="null" selected></option>
          <option *ngFor="let class of heroClasses" [value]="class.value">
            {{ class.title }}
          </option>
        </select>
      </div>
      <!-- class -->
      <div class="mod-control-group">
        <label for="subclass" class="">Subclass</label>
        <select formControlName="subclass" class="form-control">
          <option value="null" selected></option>
          <option
            *ngFor="let subclass of heroSubclasses"
            [value]="subclass.value"
          >
            {{ subclass.title }}
          </option>
        </select>
      </div>
    </div>
    <!-- subclass -->
    <!-- frame 2-->
  </div>
  <!-- mods-container-->
</form>
<!-- </ng-container> -->
