@import "/src/styles.scss";

.head {
  display: flex;
  justify-content: space-between;
  padding-inline: 1rem;
  width: 100%;
}

img.avatar {
  height: 3rem;
  object-fit: scale-down;
}

div {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.control-group input.form-control {
  margin-right: 1rem;
}

.form-control {
  margin-inline: 0;
}

.mods-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.frame {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding: .5rem;
  margin-inline: .5rem;
  box-sizing: border-box;
}

.mod-control-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items:flex-start;
}


.mod-control-group label {
  margin-inline: 0;
}

.mod-control-group input {
  margin-right: 0;
}


@media only screen and (min-width: 650px) {
  .mods-container {
    flex-direction: row;
  }

  .frame {
    flex-flow: column nowrap;
    margin: 0 .5rem;
  }
}

@media only screen and (min-width: 350px) {
  .mod-control-group {
    flex-direction: row;
    align-items: center;
  }
  .mod-control-group label {
    width: 30%;
  }
  .number.mod-control-group label,input,select {
    width: 50%
  }
  .mod-control-group input {
    width: 70%;
  }
  .mod-control-group select {
    width: 70%;

  }
}
