<div class="head row">
    <h2>Character</h2>
    <img src="./assets/images/profile.png" alt="" class="avatar">
</div>
  <div class="profile form-group">
    <label for="name">Name</label>
    <input type="text" name="name" id="" class="form-control">
  </div>
  <div class="level form-group">
    <label for="level">Level</label>
    <input type="number" name="level" id="" class="form-control">
  </div>
  <div class="class form-group">
    <label for="class">Class</label>
    <input type="text" name="class" id="" class="form-control">
  </div>
  <div class="subclass form-group">
    <label for="subclass">Subclass</label>
    <input type="text" name="subclass" id="" class="form-control">
  </div>
  <div class="spellmod form-group">
    <label for="spellMod">Spell Modifier</label>
    <input type="number" name="spellMod" id="" class="form-control">
  </div>
