<div class="row">
  <div class="head">
    <h2>Character</h2>
    <img src="./assets/images/profile.png" alt="" class="avatar" />
  </div>
</div>
<!-- <ng-container *ngIf="hero$ |async as hero"> -->
<form [formGroup]="heroForm">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      formControlName="name"
      class="form-control"
      (blur)="updateHero()"
    />
  </div>
  <div class="row">
    <div class="level form-group number col-3">
      <label for="level">Level</label>
      <input
        type="number"
        formControlName="level"
        class="form-control"
        (change)="updateHero()"
      />
    </div>
    <div class="form-group number col-3">
      <label for="spellMod">Spell Modifier</label>
      <input
        type="number"
        formControlName="spellMod"
        class="form-control"
        (change)="updateHero()"
      />
    </div>
    <div class="form-group col-6">
      <label for="class">Class</label>
      <input
        type="text"
        formControlName="class"
        class="form-control"
        (change)="updateHero()"
      />
    </div>
    <div class="form-group col-6">
      <label for="subclass">subclass</label>
      <input
        type="text"
        formControlName="subclass"
        class="form-control"
        (change)="updateHero()"
      />
    </div>
  </div>
</form>
<!-- </ng-container> -->

<!-- Phase 2: Add Class & subclass to direct to available spells-->

<!-- <div class="form-group">
    <label for="class">Class</label>
    <input type="text" name="class" id="" class="form-control">
  </div>
  <div class="form-group">
    <label for="subclass">subclass</label>
    <input type="text" name="subclass" id="" class="form-control">
  </div> -->
