.hit-wrap {
  display: flex;
  flex-flow: column-reverse nowrap;
}

.spellmod {
  margin: 0.1rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  border: 1px solid #444;
}

.spellmod > div {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.spellmod img {
  max-height: 2rem;
  object-fit: scale-down;
  width: 2rem;
}
#ac {
  display: flex;
  order: 2;
}
#str {
  display: flex;
  order: 1;
}
.hit-chance {
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  width: 5rem;
}
