<div class="hit-wrap">
  <h2 style="order: 100">Chance to Hit Enemy</h2>
  <hr style="order: 13" class="baseline-bar" />
  <ng-container *ngFor="let key of statIndex">
    <div
      class="spellmod row"
      id="{{ key }}"
      [ngStyle]="{ order: hitOrder[key].order }"
      *ngIf="hitOrder[key].value !== null"
    >
      <img src="./assets/images/stat_icons/{{ key }}_icon.png" alt="" />
      <div *ngIf="hitOrder[key].value" class="hit-chance">
        {{ key | uppercase }}: {{ hitOrder[key].value | percent }}
      </div>
      <div *ngIf="!hitOrder[key].value" class="hit-chance">
        {{ key | uppercase }}: N/A
      </div>
      <button
        type="button"
        href="spell-list"
        routerLink="../spells"
        (click)="setFilters(key)"
      >
        Spell List
      </button>
    </div>
  </ng-container>
</div>
