@import '/src/sass/variables';

.component-wrap {
  display: block;
  width: calc(100% - #{$mp-pad});
  box-shadow: 2px 2px 2px 1px $shadow;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  background-color: #777;
  border: 1px solid white;
}

.container {
  display: block;
  width: 100%;
}

.container-flex {
  display: flex;
  width: 100;
}

.copy {
  background-color: $copy-bg;
  color: white;
  padding: $copy-padding;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

.card {
  border-radius: 0;
  box-shadow: 2px 2px 2px 1px $shadow;
}

.form-group {
  display: flex;
  flex-flow: row wrap;
  margin: 0.125rem 0;
  justify-content: left;
  width: 100%;
}

.form-control {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-inline: 1rem;
  width: 100%;
  height: 2rem;
  background-color: #999;
  margin-inline: 1rem;
  margin-bottom: 0.5rem;
}

.accordion {
  color: white;
  background-color: $copy-bg;
  & p {
    color: white;
    // background: black;
  }
 }

label {
  margin: 0 1rem 0.25rem;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.col-xs-1 {
  width: 8.33%;
}
.col-xs-2 {
  width: 16.66%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-4 {
  width: 33.33%;
}
.col-xs-5 {
  width: 41.66%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-7 {
  width: 58.33%;
}
.col-xs-8 {
  width: 66.66%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-10 {
  width: 83.33%;
}
.col-xs-11 {
  width: 91.66%;
}
.col-xs-12 {
  width: 100%;
}

.col-sm-1 {
  width: 8.33%;
}
.co-sm-2 {
  width: 16.66%;
}
.col-sm-3 {
  width: 25%;
}
.col-sm-4 {
  width: 33.33%;
}
.col-sm-5 {
  width: 41.66%;
}
.col-sm-6 {
  width: 50%;
}
.col-sm-7 {
  width: 58.33%;
}
.col-sm-8 {
  width: 66.66%;
}
.col-sm-9 {
  width: 75%;
}
.col-sm-10 {
  width: 83.33%;
}
.col-sm-11 {
  width: 91.66%;
}
.col-sm-12 {
  width: 100%;
}

// REPSONSIVE
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-s"] {
    width: 100%;
  }
}

// REPSONSIVE
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  [class*="col-xs"] {
    width: 100%;
  }
}
