<form [formGroup]="enemyForm">
  <div class="enemy-desc container-flex row">
    <img src="./assets/images/enemies/raptor.png"  class="profile" alt="">
    <input type=text formControlName="name" (change)="updateEnemy()" class="form-control" placeholder="Enemy Name">
  </div>
  <div class="container-flex">

    <table>
      <tr>
        <th><img src="./assets/images/stat_icons/AC_icon.png" class="stat-sm" alt=""></th>
        <th><img src="./assets/images/stat_icons/str_icon.png" class="stat-sm" alt=""></th>
        <th><img src="./assets/images/stat_icons/dex_icon.png" class="stat-sm" alt=""></th>
        <th><img src="./assets/images/stat_icons/con_icon.png" class="stat-sm" alt=""></th>
        <th><img src="./assets/images/stat_icons/int_icon.png" class="stat-sm" alt=""></th>
        <th><img src="./assets/images/stat_icons/wis_icon.png" class="stat-sm" alt=""></th>
        <th><img src="./assets/images/stat_icons/cha_icon.png" class="stat-sm" alt=""></th>
      </tr>
      <tr>
        <th>AC</th>
        <th>Str</th>
        <th>Dex</th>
        <th>Con</th>
        <th>Int</th>
        <th>Wis</th>
        <th>Cha</th>
      </tr>
      <tr class="data">
        <td><input type="number" name="ac" class="form-control" id="" formControlName="ac" (change)="updateEnemy()" min=0 max=30></td>
        <td><input type="number" name="str" class="form-control" id="" formControlName="str" (change)="updateEnemy()"></td>
        <td><input type="number" name="dex" class="form-control" id="" formControlName="dex" (change)="updateEnemy()"></td>
        <td><input type="number" name="con" class="form-control" id="" formControlName="con" (change)="updateEnemy()"></td>
        <td><input type="number" name="int" class="form-control" id="" formControlName="int" (change)="updateEnemy()"></td>
        <td><input type="number" name="wis" class="form-control" id="" formControlName="wis" (change)="updateEnemy()"></td>
        <td><input type="number" name="cha" class="form-control" id="" formControlName="cha" (change)="updateEnemy()"></td>
      </tr>
      <!-- <tr>
        <td class="text-sm">Saves</td>
        <td><input type="number" name="ac" class="form-control" id="" formControlName=""><" (change)="updateEnemy()/td>
        <td><input type="number" name="ac" class="form-control" id="" formControlName=""><" (change)="updateEnemy()/td>
        <td><input type="number" name="ac" class="form-control" id="" formControlName=""><" (change)="updateEnemy()/td>
        <td><input type="number" name="ac" class="form-control" id="" formControlName=""><" (change)="updateEnemy()/td>
        <td><input type="number" name="ac" class="form-control" id="" formControlName=""><" (change)="updateEnemy()/td>
        <td><input type="number" name="ac" class="form-control" id="" formControlName=""><" (change)="updateEnemy()/td>
      </tr> -->
    </table>
  </div>
</form>
